docutils==0.21.2
exceptiongroup==1.2.1
iniconfig==2.0.0
mypy==1.10.0
mypy-extensions==1.0.0
nh3==0.2.17
packaging==24.0
pluggy==1.5.0
pycodestyle==2.11.1
Pygments==2.18.0
pytest==8.2.0
readme_renderer==43.0
tomli==2.0.1
typing_extensions==4.11.0
